# CRUCIAL: Diz ao Next.js (que usa o Webpack) para ignorar os symlinks do pnpm
# e tratar os ficheiros como normais, o que resolve o erro 'Module not found'.
node-linker=hoisted
shamefully-hoist=true
public-hoist-pattern[]=*